<div data-navbar data-selected="create-post"></div>

<div>
	<form id="postDetailForm" name="postDetailForm" class="form-horizontal">
		<input type="hidden" data-ng-model="post.id" />
		<div class="control-group">
			<label class="control-label" for="inputTitle">Title*</label>
			<div class="controls">
				<input type="text" id="inputTitle" data-ng-model="post.title"
					required></input>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="inputContent">Content*</label>
			<div class="controls">
				<textarea id="inputContent" data-ng-model="post.content" required></textarea>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="inputTags">Tags*</label>
			<div class="controls">
				<input type="text" id="inputTags" data-ng-model="post.tags" required></input>
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<button type="button" class="btn btn-success"
					data-ng-click="save(post)"
					data-ng-disabled="postDetailForm.$invalid">Save</button>
				<!-- 		      <button type="button" class="btn btn-danger" data-ng-click="remove(post.id)" data-ng-show="post.id">Delete</button>
 -->
				<button type="button" class="btn" data-ng-click="cancel()">Cancel</button>
			</div>
		</div>
	</form>
</div>
